<button type="button" class="btn btn-outline-primary"><a routerLink="rform">REACTIVE-FORM-ONW WAY</a></button>
 <button type="button" class="btn btn-outline-secondary"><a routerLink="rform2">REACTIVE-FORM-TWO WAY</a></button>
<button type="button" class="btn btn-outline-success"><a routerLink="rform3">REACTIVE-FORM-THIRD</a></button>
<!--<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button> -->


<router-outlet></router-outlet>